page-info {

.img{
    background-image: url("../../assets/imgs/black.jpg");
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center;


}

p{
    color: white;
    text-align: center;
    font-size: 15px;
}


.h1{
 color: rgb(136, 120, 127);
 font-size: 50px;
 text-align: center;
 font-weight: 200%;
 



 
}

h2{
    color: white;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 200px;
    color: rgb(136, 120, 127);

}

.button{

    width: 95%;
    margin-left: 2%;
    background-color: rgb(145, 82, 138);

}









}

